<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>member list</title>
</head>
<body>
<div th:replace="member/header :: headerFragment"> </div>
    <table>
        <tr>
            <th>이름</th>
            <th>email</th>
            <th>password</th>
        </tr>
        <tr th:each="memberResDto : ${memberList}">
            <td th:text="${memberResDto.name}"></td>
            <td th:text="${memberResDto.email}"></td>
<!--            member?id=xx 방식으로 요청-->
<!--           @는 th의 링크 url 표현식-->
<!--            1)resDTO에 id값 추가 -->
<!--            2)controller에 /member/find-->
<!--            3)service 비지니스 로직 : repository-->
<!--            4)repository에서 실질적으로 seach->interface 수정 -->
<!--            상세보기 화면 : name, email, password, 가입시간-->
            <td><a th:href="@{/member/find(id=${memberResDto.id})}">상세보기</a></td>
        </tr>

    </table>

</body>

</html>